body {
    background-image: url(https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: -5;
}

.siteTitle{
    position:absolute;
    top: 5em;
    left: 2em;
    transform: translateY(-50%);
    z-index: 5;
    font-family: sans-serif;
    color: white;
    padding: 10em;
    margin-left: -10em;
}

/* .siteTitle h2{
    font-size: 60px;
    color:white;
    text-align: center;
    margin-bottom: 8em;
} */

.overlay{
    background: #0000008a;
    width: 100%;
    height: 144vh;
    
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.nav-item{
    padding: 1em;
    z-index: 5;
    font-size: 2em;
}

.nav-item a {
    color: white;
}

.siteIntro h2{
    z-index: 5;
    color: rgb(255, 255, 255);
    top: 10em;
    left: 0;
    margin-left: 2em;
    margin-top: 10em;
    
}

.pageDescription p{
    z-index: 5;
    color: white ;
    padding: 4em;
}

#greeting {
    margin-top: 40em;
}

#secondViewport {
    background: blue;
    z-index: 5;
}

.card-body1 {
    height: 15em;
    margin-left: 25em;

   
}

.card-body1 a{
    text-decoration: none;
    color: whitesmoke;
}
.card-body img{
    padding: 20px;
    margin-left: 10em;
}

#projects {
    margin-right: 20em;
    padding: 1em;
}

#projects img{
    
    padding: 10em;
}





.card w-100 {
    width: 100%;  
    margin-left: 15em;
}

.card-title{
    text-align: center;
}
#project1{
    width: 10em;
    height:8em;
}

mediaIcons

img:hover{
    opacity: 0.7;
   
}

.fa {

    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
#mediaIcons{
    margin-left: 6em;
    padding: 3em;
    
}

  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 2em;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 2em;
  }
  .fa-instagram {
    background: #125688;
    color: white;
    border-radius: 2em;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 2em;
  }

  #messageInput {
      padding-top: 1em;
      margin-left: 4.5em;
  }

  #emailInput {
      margin-left: 5em;
      padding-top: 1em;
  }

  #btn {
      padding-top: 2em;
      margin-left: 15em;
      
  }

  .submitbtn {
    border-radius: 5em;
  }




  
  


